<div class="row">
    <div class="col-md-12">
        <h2>{{viewData.person.first_name}} {{ viewData.person.last_name}} - Person: {{ viewData.person.id}}</h2> 
        <hr />
        
            <form method="post" action="/person/update"> 
            <input type="hidden" name="id" value="{{viewData.person.id}}"/>
                <fieldset>
                    <legend>Personal Information</legend> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input class="form-control" id="first_name" name="first_name" type="text" value="{{viewData.person.first_name}}" />
                            </div> 

                            </div>
                            <div class="col-md-6">
                            <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input class="form-control" id="last_name" name="last_name" type="text" value="{{viewData.person.last_name}}" />
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input class="form-control" id="phone" name="phone" type="text" value="{{viewData.person.phone}}" />
                            </div> 
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="address">Address (Street):</label>
                                <input class="form-control" id="address" name="address" type="text" value="{{viewData.person.address}}" />
                            </div> 
                        </div> 

                        <div class="col-md-3">
                                <label for="city">Address (City):</label>
                                <input class="form-control" id="city" name="city" type="text" value="{{viewData.person.city}}" />
                        </div> 

                    </div>
                </fieldset>
                <fieldset>
                    <legend>Car Infromation</legend>
                    <label for="vin">Person's Vin Number:</label>
                    {{#if viewData.cars}}
                            <select class="form-control" name="vin" id="vin">
                                <option value="">Select Car</option> 
                            {{#each viewData.cars}}
                                <option value="{{vin}}" {{#if selected}} selected {{/if}} >{{vin}} </option> 
                            {{/each}}
                            </select> 
                    {{else}}
                            <div>No Cars added yet</div> 
                    {{/if}}
                </fieldset>
                <hr />
                <input type="submit" class="btn btn-primary pull-right" value="Update Person" />
                <br /><br /><br />
            </form> 
    </div>
</div>